body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: slategray;
  
}

a {
  color: #00B7FF;
}

img {
  height: 200px;
  width: 20%;
  background-color: gray;
  
}

 input {
  color: black;
}


label {
  color: black;
} */


.nav-wrapper {
  color: light;
}



