body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: slategray;
  
}

a {
  color: rgb(0, 183, 255);
}

img {
  height: 200px;
  width: 20%;
  background-color: gray;
  
}

 input {
  color: black;
}


.btn {
  color: rgb(0, 183, 255);
  background-color: slategray;
}

label {
  color: black;
} */


.nav-wrapper {
  color: light;
}

.video-container {
  width: 50%;
  height: 10px;
  
}


