body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: wheat;
  
}

a {
  color: brown;
}

img {
  height: 200px;
  width: 20%;
  background-color: gray;
  
}

 input {
  color: black;
}


.btn {
  color: black;
  background-color: peru;
}

label {
  color: black;
} */


.nav-wrapper {
  color: light;
}

.video-container {
  width: 50%;
  height: 500px;
  
}


