<div>

    <h1>Get Prep</h1>

    <h3>Companies</h3>
    <div>
        <a href="/companies/new">Add New Company</a>
    </div>
    {{#each companies}}
    <div>
        {{this.name}} - {{this.state}}
        <a href="/companies/{{this._id}}">{{this.name}} Info</a>
    </div>
    {{/each}}
</div>