 <nav >
    <div class="nav-wrapper light-blue lighten">

     

      <a href="" class="brand-logo right">Get Prep'd</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="users/new"> Create User </a></li>
        <li><a href="/users"> Demos </a></li>
        <li><a href="/users/show">Items to Have </a></li>
      </ul>
    </div>
  </nav>

  <div class="center">
        



    <h1>Get Prep'd</h1>
    <img src="https://bobtheriot.files.wordpress.com/2015/07/interview-logo.png" alt="Get Prep">


  <h3>Companies</h3>
    <div> 

      <a href="/companies/new" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')"> Add New Company</a> <br>
        
        {{!-- <a href="/companies/new">Add New Company</a>  --}}
    </div>
    <br>
    {{#each companies}}
    <div>
        {{this.name}} - {{this.state}}
        <a href="/companies/{{this._id}}">{{this.name}} Company</a>
    </div>
    {{/each}} 
    

</div> 