<form action="/companies" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="state">State</label>
    <input type="text" name="state">

    <input type="submit" value="Create">
</form>