
<h1>The To Do's and Not To Do's</h1>
<form action="/users" method="POST"></form>

<div class="video-container">
        <iframe width="200" height="150" src="https://www.youtube.com/embed/0EjqOCpM7d8"  allowfullscreen></iframe>

       
      </div>

      <div class="video-container">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/S1ucmfPOBV8"  allowfullscreen></iframe>
       
      </div>
        
        