<h1>What to bring </h1>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Phone Number </label>
        </div>
      </div>
    </form>
  </div>
        




<form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>Resume</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>


<form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>Cover Letter</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>

  <form action="#">
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Pen</label>
    </p>

  <form action="#">
    <p>
      <input type="checkbox" id="test3" />
      <label for="test3">Notepad</label>
    </p>

    <form action="#">
    <p>
      <input type="checkbox" id="test4" />
      <label for="test4">Resume</label>
    </p>
        

        