<form action="/companies/{{companyId}}/questions" method="POST">
    <label for="questions">questions</label>
    <input type="text" name="questions">

    <label for="answer">Answers</label>
    <input type="text" name="answer" step="any">

    <input type="submit" value="Create">
</form>