<form action="/companies/{{companyId}}/questions" method="POST">
    <label for="questions">Questions</label>
    <input type="text" name="questions">

    <label for="answer">Answers</label>
    <input type="text" name="answer" >

    <input type="submit" value="Create">
</form>
